/* ----------------- General Text ----------------- */
html{
	margin: 0;
}
body{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
	font-size: 2em;
	margin: 0.5em 0 0.5em 0;
}

h2{
	font-size: 1.5em;
	margin: 0.5em 0 0.5em 0;
}

h3{
	font-size: 1em;
	font-weight: bold;
	margin: 0.5em 0 0.5em 0;
}
figure figcaption{
	font-style: italic;
}
main article{
	border-top: 1pt solid #8FC33C;
	padding-top: 0.5em;
}

/* ----------------- Header Styling ----------------- */
header{
  margin-bottom: 0;
  height: 200px;
  background-image: url("../images/header_200.png");
  background-repeat: x-repeat;
  position: relative;
}

/* If we want an image or text in the center of the header */
/*header img{
  height: 12em;
  width: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  border-radius:30%;
}
header h1{
  top: 30%;
  left: 50%;
  position: absolute;
  background-color: white;
  padding: 1em;
  width: auto;
}*/

/* ----------------- Navigation Bar Styling ----------------- */
.top-sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
nav {
  overflow: hidden;
  background-color: #203621;
	height: 50px;
}
.float-right{
  float: right;
}

nav a {
  float: left;
  font-size: 1em;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.dropdown {
	float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1em;
  color: white;
  padding: 1em;
  margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn, .active {
  background-color: #8FC33C;
}

.dropdown-content {
  display: none;
  position: absolute;
	top: 50px;
  background-color: #f2f2f2;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #8FC33C;
  color: white;
  min-width: 8em;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.main-nav-dropdown{
	height: 50px;
	overflow: hidden;
}
.nav-icon{
	display: none;
}
nav img{
	height: 1em;
}
@media screen and (max-width: 750px){
	.nav-icon{
		display: initial;
	}

	.main-nav-dropdown {
		float: left;
	  overflow: hidden;
	}

	.main-nav-dropdown .nav-icon {
	  font-size: 1em;
	  color: white;
	  padding: 1em;
	  margin: 0;
	}

	.main-nav {
	  display: none;
	  position: absolute;
		top: 50px;
		right: 0;
	  background-color: #f2f2f2;
	  z-index: 1;
	}

	.main-nav a {
	  float: none;
		clear: both;
	  color: black;
	  padding: 1em;
	  text-decoration: none;
	  display: block;
	  text-align: left;
		min-width: 8em;
	}

	.main-nav a:hover {
	  background-color: #8FC33C;
	  color: white;
	}

	.main-nav-dropdown:hover .main-nav {
	  display: block;
	}

	.dropdown-content {
		top: inherit;
		right: 5em;
		border: 0.25pt solid #203621;
	}

	.dropdown .dropbtn{
		color: black;
	}
}

/* ----------------- Container Styling - contains left sidebar, center column, and right sidebar ----------------- */
#container{
	margin: 1em 2em 1em 2em;
	display: flex;
}
@media screen and (max-width: 900px){
  /* some CSS here */
  #container{
  flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px){
  #container{
  /*do something */
  }
}



/* ----------------- Left Sidebar Styling ----------------- */
#left-sidebar{
	min-width: 10em;
	width: 15%;
	margin: 0 1em 0 1em;
}
#left-sidebar .img-fluid{
	width: 100%;
	height: auto;
	object-fit: contain;
}
#left-sidebar figure{
	margin: 0;
}
/*TODO: do we want this to disappear when it gets too small?
@media screen and (max-width: 900px){
  #left-sidebar article{
  display: none;
  }
}
*/
/* ----------------- Center Column Styling ----------------- */
#center-column{
	margin: 0 1em 0 1em;
	width: 70%;
	clear: both;
}

/* ----------------- Right Sidebar Styling ----------------- */

#right-sidebar{
	min-width: 10em;
	width: 15%;
	margin: 0 1em 0 1em;
}
#right-sidebar ul{
	list-style-type: none;
	padding: 0;
}
#right-sidebar li a{
	display: inline-block;
	color: #8FC33C;
	text-decoration: none;
	padding: 0.5em;
	border: 1.5pt solid white;
	border-radius: 10pt;
}
#right-sidebar li a:hover{
	border: 1pt solid #8FC33C;
	border-radius: 10pt;
	color: white;
    background-color: #8FC33C;
}
#right-sidebar li .active{
	border: 1pt solid #8FC33C;
	border-radius: 10pt;
	color: white;
    background-color: #8FC33C;
}


/* ----------------- Footer Section Styling ----------------- */

footer{
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #203621;
	color: white;
}
footer h1{
	font-size: 1.5em;
	text-align: left;
	border-top: 1pt solid #8FC33C;
	padding-top: 0.5em;
}

#footer-container{
	display: flex;
	justify-content: left;
	padding: 1em;
}
#footer-left{
	width: 20%;
	margin: 0 1em 0 1em;
}
#footer-main{
	width: 70%;
	margin-right: 1em;
}
#footer-left img{
	vertical-align: middle;
	margin: 0 0.5em 0.5em 0;
	max-height: 3em;
	width: auto;
}
#footer-main p{
	text-align: left;
	width: 80%;
}
#last-edited{
	font-size: 0.8em;
}
/* ----------------- index findLeftovers ----------------- */
#findLeftovers figure{
	margin: 0
}
#findLeftovers img{
  height: auto;
  max-width: 25em; 
}
#findLeftovers figcaption{
	font-weight: bold;
}
#findLeftovers .time-remaining{
	font-size: 0.5em;
	padding: 0.7em;
	background-color: #f2f2f2;
	border: 1pt #f2f2f2 solid;
	border-radius: 20pt;
	vertical-align: middle;
}

/* ----------------- eventsList ----------------- */
#pastEvents{
	
	background-color: #f2f2f2;
	border: 2pt solid #f2f2f2;
	border-radius: 15pt;
}

/* ----------------- memberList ----------------- */

#memberList{
	overflow: scroll;
}
#memberList th{
	width: auto;
	height: 2em;
	white-space: nowrap;
}
#editDelete img{
	max-height: 16px;
}
/* ----------------- Forms ----------------- */
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus, input[type=checkbox]:focus, input[type=radio]:focus{
	outline: 1px solid #8FC33C;
	border-radius: 4px;
}

#loginPage form{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 1.5em;
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
}
#loginPage th{
	vertical-align: middle;
}
#loginPage input{
	margin-bottom: 1em;
}
#loginPage input[type=submit]{
	width: 100%;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: white;
	background-color: #203621;
	border: 1px solid #203621;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 0;
}
#loginPage input[type=text], input[type=password]{
	padding: 0.5em 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#loginPage input[type=submit]:hover{
	background-color: #8FC33C;
	border-color: #8FC33C;
}

.flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

#volunteerForms form{
	width: 100%;
	background-color: #f2f2f2;
	border-radius: 5pt;
	padding: 0 1em 0 1em;
}
#volunteerForms label{
	display: block;
}
#volunteerForms input[type=text], #volunteerForms textarea, #volunteerForms input[type=email], #volunteerForms input[type=password] {
	padding: 0.5em;
	width: 95%;
}
#volunteerForms select{
	width: 100%;
}
#volunteerForms input[type=text], #volunteerForms select, #volunteerForms input[type=checkbox], #volunteerForms textarea, #volunteerForms input[type=email], #volunteerForms input[type=password] {
	margin-bottom: 1em;
}

